html{
    font-size: 100%;
    box-sizing: border-box;
}

* ,*::after, *::before{
    box-sizing: inherit;
}

:root{
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

body{
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    background-repeat: no-repeat;
    line-height: 1.2;
    height: 100vh;
    position: relative;
}

body .container{
    margin: auto;
    background-color: white;
    border-radius: 25px;
    padding: 0 1rem 1rem;
    margin-bottom: 15px;
    margin-top: 170px;
}

body .container img{
    display: block;
    margin: 0 auto;
}

body .container .img_container{
    position: relative;
    padding-top: 140px;
}

body .container .img_container .over_mobile{
    position: absolute;
    top: -1.5rem;
    width: 80%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);   
    z-index: 99;
}

body .container .img_container .under_mobile{
    position: absolute;
    top: 4rem;
    width: 80%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);   
}

body .container .img_container .over_desktop{
    display: none;
}

body .container .img_container .under_desktop{
    display: none;
}

body .box-icon{
    display: none;
}

body .container .header{
    font-size: 30px;
    text-align: center;
}

body .container .main_container .accordian{
    background-color: white;
    background: url("images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position:right;
    color: var(--Dark-grayish-blue);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding-left: 0;
    border: none;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--Dark-grayish-blue);
}

.active{
    font-weight: bold;
}

body .container .main_container .accordian:active{
    border:none;
}

body .container .main_container .accordian:hover{
    color: var(--Soft-red);
}

body .container .main_container .panel{
    display: none;
    background-color: white;
    overflow: hidden;
}

body .container .main_container .accordian img{
    display: inline;
    float: right;
    padding-top: 6px;
}



.attribution { font-size: 11px; 
    text-align: center;
    margin-top: 4rem;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media all and (min-width: 500px){

body{
    position: relative;
}

    body .container{
        display: flex;
        max-width: 930px;
        overflow: hidden;
        margin-top: 5rem;
    }

    body .container .main_container{
        flex: 1;
        margin-right: 65px;
        margin-left: 35px;
    }

    body .container .img_container{
        flex: 1;
        margin: auto;
    }

    body .container .img_container .over_desktop{
        position: absolute;
        top: -6.4rem;
        left: -6rem;
        display: block;
        z-index: 99;
    }
    
    body .container .img_container .under_desktop{
        display: block;
        position: absolute;
        top: -29rem;
        left: -37rem;

    }

    body .container .img_container .over_mobile{
        display: none;
        
    }
    
    body .container .img_container .under_mobile{
        display: none;
    }

    body .box-icon{
        display: block;
        position: absolute;
        z-index: 999;
        left: 6.9rem;
        top: 11.5rem;
    }

    body .container .header{
        font-size: 30px;
        text-align: left;
    }

}
